---
import Link from "../Link/Link.astro";
---

<nav class="flex flex-row justify-between items-center bg-zinc-800 p-5">
    <a href="/" class="text-red-500 uppercase font-bold">Fedcast</a>
    <ul class="flex flex-row gap-3 font-semibold">
        <li>
            <Link href="/">Live</Link>
        </li>
        <li>
            <Link href="/about">Channel</Link>
        </li>
        <li>
            <Link href="/blog">Blog</Link>
        </li>
    </ul>
    <a href="/" class="border-2 border-red-500 text-red-500 px-3 py-2 uppercase font-semibold rounded-md hover:bg-zinc-700 transition-all">Discord</a>
</nav>